@model ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        New Product
    </div>

    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Code" class="form-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IsActive" class="form-label">Active</label>
                <input asp-for="IsActive" type="checkbox" class="form-check-input" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            <div class="d-grid d-md-flex justify-content-md-end">
                <a asp-action="index" class="btn btn-secondary me-md-1">Back</a>
                <input type="submit" value="Update" class="btn btn-success" />

            </div>

        </form>
    </div>

</div>