@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <i class="fas fa-chart-bar"></i> Welcome to Dashboard
    </div>

</div>
